<div class="container">
    {if isset($message)}
        <p>{$message}</p>
    {/if}
    <form method="post">
        <div class="form-row">
            <div class="col-sm-6 form-group">
                <label for="id_contact_type">Type of contact</label>
                <select class="form-control" id="id_contact_type" name="id_contact_type">
                    {foreach $contact_type as $ct}
                        <option value="{$ct['id_contact_type']}">{$ct['name']}</option>
                    {/foreach}
                </select>
            </div>

            <div class="col-sm-6 form-group">
                <label for="contact">Contact</label>
                <input class="form-control" type="text" name="contact" placeholder="Contact" required
                       value="{$formData['contact']}">
            </div>

        </div>

        <br>
        <button type="submit" class="btn btn-info">SUBMIT</button>
    </form>
</div>