{extends layout.latte}

{block title}HOME{/block}

{block body}
    <div class="container">
        <h1>HELLO</h1>

        <form action="{link redir}" method="post">
            <label>Type your name (nothing will happen):</label>
            <input class="form-control col-4" type="text" name="person" />
            <br />
            <button type="submit" class="btn btn-info">
                <span class="fa fa-check"></span> OK
            </button>
        </form>
    </div>
{/block}