<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
    <div class="container">
        <nav class="navbar justify-content-end">
            <ul class="nav navbar-light">
                <li class="btn btn-outline-info nav-item">
                    <a class="nav-link active" href="{$basePath}"> HOME </a>
                </li>

                <li>&nbsp;
                </li>

                <li class="btn btn-outline-info nav-item"">
                    <a class="nav-link active" href="{link persons}"> PERSONS </a>
                </li>

                </li>
                <li>
                    &nbsp;
                </li>
                <li class="btn btn-outline-info nav-item"">
                <a class="nav-link active" href="{link meetings}"> MEETINGS </a>
                </li>
            </ul>
        </nav>
    </div>
{include body}
</body>
</html>