<div class="container">
    {if isset($message)}
        <p>{$message}</p>
    {/if}
    <form method="post">
        <!-- Meeting -->
        <div class="form-row">
            <div class="col-sm-2 form-group">
                <label for="start">Start date</label>
                <input class="form-control" type="date" name="start_date" placeholder="Date"
                       required value="{$formData['start_date']}">
            </div>

            <div class="col-sm-2 form-group">
                <label for="start">Start time</label>
                <input class="form-control" type="time" name="start_time" placeholder="Time"
                       required value="{$formData['start_time']}">
            </div>

            <div class="col-sm-4 form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" name="description" placeholder="Description"
                       value="{$formData['description']}">
            </div>

            <div class="col-sm-4 form-group">
                <label for="duration">Duration</label>
                <input class="form-control" type="time" name="duration" placeholder="Duration"
                       value="{$formData['duration']}">
            </div>
        </div>


        <!-- Lokace -->
        <div class="form-row">
            <div class="col-sm-4 form-group">
                <label for="city">City</label>
                <input class="form-control" type="text" name="city" placeholder="City" value="{$formData['city']}">
            </div>

            <div class="col-sm-4 form-group">
                <label for="street_name">Street name</label>
                <input class="form-control" type="text" name="street_name" placeholder="Street name" value="{$formData['street_name']}">
            </div>

            <div class="col-sm-2 form-group">
                <label for="street_number">Street number</label>
                <input class="form-control" type="number" name="street_number" placeholder="Street number" value="{$formData['street_number']}">
            </div>

            <div class="col-sm-2 form-group">
                <label for="zip">Zip</label>
                <input class="form-control" type="text" name="zip" placeholder="Zip" value="{$formData['zip']}">
            </div>
        </div>

        <!-- Osoby -->
        <br>
        <button type="submit" class="btn btn-info">SUBMIT</button>
    </form>
</div>
