{extends layout.latte}

{block title}ADD PERSON{/block}

{block body}
    <div class="container">
        <h1>ADD PERSON TO THIS MEETING</h1>
    </div>
    {include meeting_person_add_form.latte}

{/block}