{extends layout.latte}

{block title}MEETINGS{/block}

{block body}
    <div class="container">
        <h1>MEETINGS LIST</h1>
    </div>
        <div class="container">
            <a class="btn btn-outline-info" href="{link meeting_new}">ADD NEW MEETING</a>
        </div>
    <div>
        &nbsp;
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-info">
                <tr>
                    <th>Start</th>
                    <th>Duration</th>
                    <th>Description</th>
                    <th>Profile</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                {foreach $meetings as $m}
                    <tr>
                        <td>{$m['start']}</td>
                        <td>{$m['duration']}</td>
                        <td>{$m['description']}</td>

                        <td>
                            <a class="btn btn-info" href="{link meeting_info}?id_meeting={$m['id_meeting']}">VIEW&nbsp;&nbsp;<span class="fa fa-search"></span></a>
                        </td>
                        <td>
                            <a class="btn btn-info" href="{link meetings_edit}?id_meeting={$m['id_meeting']}">EDIT&nbsp;&nbsp;<span class="fa fa-edit"></span></a>
                        </td>
                        <td>
                            <form method="post" onsubmit="return confirm('Are you sure?\n\nYou will not be able\nto return this action')" action="{link meeting_delete}?id_meeting={$m['id_meeting']}">
                                <button class="btn btn-danger"> DELETE &nbsp;<i class="fa fa-skull"></i></button>
                            </form>
                        </td>
                    </tr>
                {/foreach}
            </table>
        </div>
    </div>
{/block}