<div class="container">
    {if isset($message)}
        <p>{$message}</p>
    {/if}
    <form method="post">
        <div class="form-row">
            <div class="col-sm-3 form-group">
                <label for="id_person">With</label>
                <select class="form-control" id="id_person" name="id_person" placeholder="With">
                    {foreach $persons as $p}
                        <option value="{$p['id_person']}">{$p['first_name'].' '.$p['last_name']}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <br>
        <button type="submit" class="btn btn-info">SUBMIT</button>
    </form>
</div>