{extends layout.latte}

{block title}Meeting info{/block}

{block body}
<div class="container">
</div>
    <div class="container">
        <h1>Basic info</h1>
        <table class="table table-striped table-info">
            <tr>
                <th>Start</th>
                <th>Duration</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>{$meeting['start']}</td>
                <td>{$meeting['duration']}</td>
                <td>{$meeting['description']}</td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-7">
                <h1>Location</h1>
                <table class="table table-striped table-info">
                        <tr>
                            <th>City</th>
                            <th>Zip</th>
                        </tr>
                        <tr>
                            <td>{$meeting_location['city']}</td>
                            <td>{$meeting_location['zip']}</td>
                        </tr>
                        <tr>
                            <th>Street name</th>
                            <th>Street number</th>
                        </tr>
                        <tr>
                            <td>{$meeting_location['street_name']}</td>
                            <td>{$meeting_location['street_number']}</td>
                        </tr>
                        <tr>
                            <th>Latitude</th>
                            <th>Longitude</th>
                        </tr>
                        <tr>
                            <td>{$meeting_location['latitude']}</td>
                            <td>{$meeting_location['longitude']}</td>
                        </tr>
                </table>
            </div>

            <div class="col-md-5">
                <h1>Persons
                    <a class="btn btn-outline-info" href="{link person_add}?id_meeting={$meeting_location['id_meeting']}"> <span class="fa fa-plus"></span></a>
                </h1>
                <table class="table table-striped table-info">
                    {foreach $meeting_persons as $mp}
                        <tr>
                            <td>
                                <strong><a href="{link persons_info}?id_person={$mp['id_person']}">
                                    {$mp['first_name'].' '.$mp['last_name']}
                                </strong></a>
                            </td>
                            <td>{$mp['nickname']}</td>
                            <td><form method="post" onsubmit="return confirm('Are you sure?\n\nYou will not be able\nto return this action')"
                                      action="{link delete_person_from_meeting}?id_meeting={$mp['id_meeting']}&id_person={$mp['id_person']}">
                                    <button class="btn btn-danger"><span class="fa fa-skull"></span></button>
                                </form>
                            </td>
                        </tr>
                    {/foreach}
                </table>
            </div>
        </div>
    </div>


{/block}