{extends layout.latte}

{block title}PERSONS{/block}

{block body}
    <div class="container">
        <h1>PERSONS LIST</h1>
    </div>
    <div class="container">
        <a class="btn btn-outline-info" href="{link person_new}">ADD NEW PROFILE</a>
    </div>
    <div>
        &nbsp;
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-info">
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Nickname</th>
                        <th>Height</th>
                        <th>Gender</th>
                        <th>Profile</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>

                    {foreach $persons as $p}
                        <tr>
                            <td>{$p['first_name']}</td>
                            <td>{$p['last_name']}</td>
                            <td>{$p['nickname']}</td>
                            <td>{$p['height']}</td>
                            <td>{$p['gender']}</td>

                            <td>
                                <a class="btn btn-info" href="{link persons_info}?id_person={$p['id_person']}">VIEW&nbsp;&nbsp;<span class="fa fa-search"></span></a>
                            </td>
                            <td>
                                <a class="btn btn-info" href="{link persons_edit}?id_person={$p['id_person']}">EDIT&nbsp;&nbsp;<span class="fa fa-user-edit"></span></a>
                            </td>
                            <td>
                                <form method="post" onsubmit="return confirm('Are you sure?\n\nYou will not be able\nto return this action')" action="{link person_delete}?id_person={$p['id_person']}">
                                <button class="btn btn-danger"> DELETE &nbsp;<i class="fa fa-skull"></i></button>
                                </form>
                            </td>
                        </tr>
                    {/foreach}

                </table>
            </div>
        </div>
{/block}