{extends layout.latte}

{block title}PERSON'S INFO{/block}

{block body}
    <div class="container">
    </div>
    <div class="container">
    <h1>Personal info</h1>
        <table class="table table-striped table-info" >
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Height</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>Nickname</th>
            </tr>
            <tr>
                <!-- -->
                <td>{$info_adress['first_name']}</td>
                <td>{$info_adress['last_name']}</td>
                <td>{$info_adress['height']}</td>
                <td>{$info_adress['gender']}</td>
                <td>{$info_adress['birth_day']}</td>
                <td>{$info_adress['nickname']}</td>
            </tr>
        </table>

        <h1>Adress</h1>
        <table class="table table-striped table-info">
            <tr>
                <th>Country</th>
                <th>City</th>
                <th>Street name</th>
                <th>Street number</th>
                <th>Name</th>
                <th>Zip</th>
            </tr>
            <tr>
                <!-- -->
                <td>{$info_adress['country']}</td>
                <td>{$info_adress['city']}</td>
                <td>{$info_adress['street_name']}</td>
                <td>{$info_adress['street_number']}</td>
                <td>{$info_adress['name']}</td>
                <td>{$info_adress['zip']}</td>
            </tr>
        </table>

        <h1>Contacts&nbsp;
                <a class="btn btn-outline-info" href="{link contact_new}?id_person={$info_adress['id_person']}"> <span class="fa fa-plus"></span></a>
        </h1>
        <table class="table table-striped table-info">
            {foreach $contact as $c}
                <tr>
                    <td><strong>&nbsp;{$c['name']}&nbsp;</strong></td>
                    <td>&nbsp;{$c['contact']}&nbsp;</td>
                    <td>
                        <a class="btn btn-info" href="{link contact_edit}?id_contact={$c['id_contact']}">
                            <span class="fa fa-edit"></span>
                        </a>
                    </td>
                    <td>
                        <form method="post" onsubmit="return confirm('Are you sure?\n\nYou will not be able\nto return this action')"
                              action="{link contact_delete}?id_contact={$c['id_contact']}&id_person={$c['id_person']}">
                            <button class="btn btn-danger"><span class="fa fa-trash-alt"></span></button>
                        </form>
                    </td>
                </tr>
            {/foreach}
        </table>

        <div class="row">
            <div class="col-md-6">
                <h1>Relations
                    <a class="btn btn-outline-info" href="{link relation_new}?id_person={$info_adress['id_person']}"> <span class="fa fa-plus"></span></a>
                </h1>
                <table class="table table-striped table-info">
                    <tr>
                        <th>With</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    {foreach $relation as $r}
                        <tr>
                            <td>
                                <a href="{link persons_info}?id_person={$r['id_person']}">
                                    <strong>{$r['first_name'].' '.$r['last_name']}</strong>
                                </a>
                            </td>
                            <td>{$r['relation_type']}</td>
                            <td>{$r['description']}</td>
                            <td><a class="btn btn-info" href="{link relation_edit}?id_relation={$r['id_relation']}"> <span class="fa fa-edit"></span></a></td>
                            <td>
                                <form method="post" onsubmit="return confirm('Are you sure?\n\nYou will not be able\nto return this action')"
                                      action="{link relation_delete}?id_relation={$r['id_relation']}&id_person={$info_adress['id_person']}">
                                    <button class="btn btn-danger"><span class="fa fa-trash-alt"></span></button>
                                </form>
                            </td>
                        </tr>
                    {/foreach}
                </table>
            </div>


            <div class="col-md-6">
                <h1>Meetings
                    <a class="btn btn-outline-info" href="{link meeting_new}?id_person={$info_adress['id_person']}"> <span class="fa fa-plus"></span></a>
                </h1>
                <table class="table table-striped table-info">
                    <tr>
                        <th>Start</th>
                        <th>Description</th>
                        <th>Duration</th>
                        <th>Edit</th>
                    </tr>
                    {foreach $meeting as $m}
                        <tr>
                            <td>
                                <strong>
                                    <a href="{link meeting_info}?id_meeting={$m['id_meeting']}">
                                        {$m['start']}
                                    </a>
                                </strong>
                            </td>
                            <td>{$m['description']}</td>
                            <td>{$m['duration']}</td>
                            <td>
                                <a class="btn btn-info" href="{link meetings_edit}?id_meeting={$m['id_meeting']}">
                                    <span class="fa fa-edit"></span>
                                </a>
                            </td>
                        </tr>
                    {/foreach}
                </table>
            </div>
        </div>



{/block}