<div class="container">
    {if isset($message)} 
        <p>{$message}</p>
    {/if}
    <form method="post">
        <!-- Osoba -->
        <div class="form-row">
             <div class="col-sm-4 form-group">
                <label for="first_name">First name</label>
                <input class="form-control" type="text" name="first_name" placeholder="First name" 
                        required value="{$formData['first_name']}">
             </div>
             
             <div class="col-sm-4 form-group">
                <label for="last_name">Last name</label>
                <input class="form-control" type="text" name="last_name" placeholder="Last name" required
                value="{$formData['last_name']}">
             </div>
             
             <div class="col-sm-4 form-group">
                <label for="nickname">Nickname</label>
                <input class="form-control" type="text" name="nickname" placeholder="Nickname" required
                value="{$formData['nickname']}">
             </div>
        </div>
        
        <div class="form-row">
             <div class="col-sm-4 form-group">
                <label for="height">Height</label>
                <input class="form-control" type="number" name="height" placeholder="Height"
                value="{$formData['height']}">
             </div>
             
             <div class="col-sm-4 form-group">
                <label for="gender">Gender</label>
                <select class="form-control" name="gender">
                    <option value="female" {if $formData['gender']=='female'}selected{/if}>Female</option>
                    <option value="male" {if $formData['gender']=='male'}selected{/if}>Male</option>
                </select>                              
             </div>
             
             <div class="col-sm-4 form-group">
                <label for="birth_day">Birthday</label>
                <input class="form-control" type="date" name="birth_day" placeholder="Date of birth",
                value="{$formData['birth_day']}">
             </div>
        </div>
        <!-- Adresy -->
        <div class="form-row">
            <div class="col-sm-4 form-group">
                <label for="city">City</label>
                <input class="form-control" type="text" name="city" placeholder="City" value="{$formData['city']}">
             </div>
             
             <div class="col-sm-4 form-group">
                <label for="street_name">Street name</label>
                <input class="form-control" type="text" name="street_name" placeholder="Street name" value="{$formData['street_name']}">
             </div>
             
             <div class="col-sm-2 form-group">
                <label for="street_number">Street number</label>
                <input class="form-control" type="number" name="street_number" placeholder="Street number" value="{$formData['street_number']}">
             </div>

             <div class="col-sm-2 form-group">
                <label for="zip">Zip</label>
                <input class="form-control" type="text" name="zip" placeholder="Street number" value="{$formData['zip']}">
             </div>
        </div>


         <br>
         <button type="submit" class="btn btn-info">SUBMIT</button>
    </form>
</div>