<div class="container">
    {if isset($message)}
        <p>{$message}</p>
    {/if}
    <form method="post" {if !empty($id_person)}action="{link meeting_new}?id_person={$id_person}"{/if}">
        <div class="form-row">
            <div class="col-sm-3 form-group">
                <label for="id_relation_type">Type of relation</label>
                <select class="form-control" id="id_relation_type" name="id_relation_type">
                    {foreach $relation_type as $rt}
                        <option value="{$rt['id_relation_type']}">{$rt['name']}</option>
                    {/foreach}
                </select>
            </div>

            <div class="col-sm-3 form-group">
                <label for="id_person2">With</label>
                <select class="form-control" id="id_person2" name="id_person2" placeholder="With">
                    {foreach $persons as $p}
                        <option value="{$p['id_person']}">{$p['first_name'].' '.$p['last_name']}</option>
                    {/foreach}
                </select>
            </div>

            <div class="col-sm-6 form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" name="description" placeholder="Description"
                       value="{$formData['description']}">
            </div>

        </div>

        <br>
        <button type="submit" class="btn btn-info">SUBMIT</button>
    </form>
</div>